* {
  box-sizing: border-box; }

body {
  padding: 2%; }

.post {
  width: 80%;
  margin: auto;
  overflow: auto;
  position: relative; }
  .post:nth-child(odd) article {
    background-color: #74BEF3; }
  .post.post:nth-child(even) article {
    background-color: #4193D0; }

.datetime {
  width: 12.5%;
  color: #74BEF3;
  float: left;
  text-align: right;
  font-family: "century gothic"; }
  .datetime .date {
    font-size: .8vw;
    margin: 6% 0 0 0;
    padding-right: 5%; }
  .datetime .time {
    font-size: 2.5vw;
    margin: 6% 0 0 0;
    padding-right: 5%; }

.entry {
  width: 87.5%;
  float: left;
  position: relative; }

article {
  width: 75%;
  position: relative;
  left: 96px;
  font-family: "century gothic";
  color: white;
  background-color: inherit;
  margin: 6px 0;
  padding: 2% 3%;
  border-radius: 5px; }
  article p {
    line-height: 1.5; }
  article h2 {
    font-size: 1.9em;
    font-weight: bold; }
  article hr {
    border: 0;
    border-top: #B3DBFB solid 0.5px; }

.icon {
  border: solid #B3DBFB 8px;
  background-color: #4193D0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center; }
  .icon .fa-tablet {
    font-size: 2em;
    color: white;
    padding-top: 17%; }
  .icon .fa-desktop {
    font-size: 1.6em;
    color: white;
    padding-top: 27%; }
  .icon .fa-mobile {
    font-size: 2.2em;
    color: white;
    padding-top: 11%; }

.vertline {
  border: black solid 1;
  width: 10px;
  background-color: #B3DBFB;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25px; }

.arrow {
  background-color: inherit;
  height: 25px;
  width: 25px;
  position: absolute;
  transform: rotate(45deg);
  left: -6.25px;
  top: 11.5px; }

footer {
  position: absolute;
  height: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #B3DBFB; }

@media screen and (max-width: 500px) {
  .vertline {
    display: none; }

  .icon {
    top: 12px;
    left: 8px; }

  .arrow {
    display: none; }

  .post {
    width: 90%; }

  .entry {
    width: 100%; }

  article {
    left: 0;
    width: 100%;
    padding: 7%;
    font-size: .9em; }

  h2 {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 25%;
    text-align: right; }

  .datetime .date {
    margin: 0;
    font-size: .75em;
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
    z-index: 1; }
  .datetime .time {
    margin: 0;
    font-size: 1.5em;
    position: absolute;
    top: 38px;
    right: 0;
    color: white;
    z-index: 1; } }
@media screen and (min-width: 501px) and (max-width: 1000px) {
  .post {
    width: 100%; }

  .datetime {
    width: 0; }

  section {
    width: 100%; }

  article {
    width: 100%; }

  .datetime .date {
    margin: 0;
    font-size: .9em;
    position: absolute;
    top: 40px;
    right: 0;
    color: white;
    z-index: 1; }
  .datetime .time {
    margin: 0;
    font-size: 1.75em;
    position: absolute;
    top: 60px;
    right: 0;
    color: white;
    z-index: 1; } }

/*# sourceMappingURL=timeline.css.map */
