*{
  box-sizing: border-box;
  // border: solid black 1px;
}

body{
  padding: 2%;
}

.post{
  width: 80%;
  margin: auto;
  overflow: auto;
  position: relative;

  &:nth-child(odd) article{
    background-color: $bluethemelight;
  }
  &.post:nth-child(even) article{
    background-color: $bluethemedark;
  }
}

.datetime{
  width: $asidewidth;
  color: $bluethemelight;
  float: left;
  text-align: right;
  font-family: $themefont;

  .date{
    font-size: .8vw;
    margin: 6% 0 0 0;
    padding-right: 5%;
  }

  .time{
    font-size: 2.5vw;
    margin: 6% 0 0 0;
    padding-right: 5%;
  }
}

.entry{
  width: $entrywidth;
  float: left;
  position: relative;
}

article{
  width: $articlewidth;
  position: relative;
  left: 1.6*$iconwidth;
  font-family: $themefont;
  color: white;
  background-color: inherit;
  margin: $articlemargin 0;
  padding: 2% 3%;
  border-radius: 5px;
  p{
    line-height: 1.5;
  }
  h2{
    font-size: 1.9em;
    font-weight: bold;
  }
  hr{
    border: 0;
    border-top: $bluethememid solid 0.5px
  }
}

.icon{
  border: solid $bluethememid 8px;
  background-color: $bluethemedark;
  @include circle($iconwidth);
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center;

  .fa-tablet{
    font-size: 2em;
    color: white;
    padding-top: 17%;
  }
  .fa-desktop{
    font-size: 1.6em;
    color: white;
    padding-top: 27%;
  }
  .fa-mobile{
    font-size: 2.2em;
    color: white;
    padding-top: 11%;
  }
}

.vertline{
  border: black solid 1;
  width: $linewidth;
  background-color: $bluethememid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: ($iconwidth/2)-($linewidth/2);
}

.arrow{
  background-color: inherit;
  @include square($arrowsize);
  position: absolute;
  transform: rotate(45deg);
  left: -$arrowsize/4;
  top: ($iconwidth/2)-($arrowsize/2)-$articlemargin;
}

footer{
  position: absolute;
  height: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $bluethememid;
}
