$bluethemelight: #74BEF3;
$bluethememid: #B3DBFB;
$bluethemedark: #4193D0;

$themefont: sans-serif;
$themefont: "century gothic";

$entrywidth: 87.5%;
$asidewidth: 100% - $entrywidth;
$articlewidth: 75%;

$iconwidth: 60px;
$linewidth: 10px;
$arrowsize: 25px;

$articlemargin: 6px;
$headermargin: 5% 0 0 0;
